.app__section3 {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/section-1.png);
    background-size: cover;
    display: flex;
}

.app__section3__left {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__section3__left__container {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-image: linear-gradient(to top right, #E3C0FA, #846BBB);
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    /* background-image: url(https://media.discordapp.net/attachments/823052838593888266/949267828232556554/IMG_6883.jpg?width=326&height=580); */
    /* background-size: cover; */
    /* background-position: center; */
}

.app__section3__left__container__img1,
.app__section3__left__container__img2,
.app__section3__left__container__img3 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    bottom: 100px;
    right: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: img-4d-anni 10s linear infinite;
}

.app__section3__left__container__img1:hover,
.app__section3__left__container__img2:hover,
.app__section3__left__container__img3:hover {
    transform: scale(1.2);
    animation: img-3d-hover-anni 1s linear infinite forwards;
}

@keyframes img-3d-hover-anni {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.app__section3__left__container__img2 {
    top: 30px;
    left: 20px;
}

.app__section3__left__container__img3 {
    right: 30%;
    top: 30vh;
}

@keyframes img-4d-anni {
     0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.app__section3__left__container__img {
    width: 100%;
}

.app__section3__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.app__section3__right__txt1 {
    font-family: 'Monoton', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

.app__section3__right__txt2,
.app__section3__right__txt1,
.app__section3__right__txt2Mobile {
    text-align: center;
    text-shadow:  0 1px 0 #ccc, 0 2px 0 #ccc,
                0 3px 0 #ccc, 0 4px 0 #ccc,
                0 5px 0 #ccc, 0 6px 0 #ccc,
                0 7px 0 #ccc, 0 8px 0 #ccc,
                0 9px 0 #ccc, 0 10px 0 #ccc,
                0 11px 0 #ccc, 0 12px 0 #ccc,
                0 20px 30px rgba(0, 0, 0, 0.5);
}

.app__section3__right__txt2,
.app__section3__right__txt2Mobile {
    font-size: 25px;
    margin: 20px 0 0 0;
}

.app__section3__right__txt2Mobile {
    display: none;
}

@media (max-width: 1300px) {
    .app__section3 {
        height: fit-content;
        flex-direction: column-reverse;
    }

    .app__section3__right {
        height: 100vh;
        width: 100%;
    }

    .app__section3__left {
        width: 100%;
    } 

    .app__section3__left__container {
        border-radius: 0;
        height: 100vh;
        display: grid;
        place-items: center;
    }

    .app__section3__left__container__img {
        width: 500px;
    }

    .app__section3__left__container__img1,
    .app__section3__left__container__img2,
    .app__section3__left__container__img3 {
        position: static;
    }
}

@media (max-width: 900px) {
    .app__section3__right {
        background-image: url(./assets/section-1-mobile.png);
        background-size: cover;
    }
}

@media (max-width: 760px) {
    .app__section3__right__txt1 {
        font-size: 40px;
    }

    .app__section3__right__txt2 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .app__section3__right__txt2{
        display: none;
    }

    .app__section3__right__txt2Mobile {
        display: block;
        width: 90%;
        font-size: 20px;
    }

    .app__section3__left__container__img {
        width: 100%;
    }
}